body{
    overflow-x: hidden;
}

/*.footer{
    width: 100%;
    z-index: 30;
    position: absolute;
    top:180%;
    background: #000;
    color: white;
}*/

.fraseInicial{
    position:absolute;
    left:1000px;
    opacity: 0;
}



.nombre{
    font-size: 38px;
}

.carousel{
    margin-top: -22px;
    background-color: #CCCCCC;
    height: 60%;
}


.containerMini{
    /*background-color: #CCCCCC;*/
    background-color: #03a9f4;
    color: #b2ebf2;
    padding: 50px;
    height: 150px;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    z-index: 100;
}


.navSecundary{
    position: absolute;
    z-index: 10;
    top:68%;
    text-align: center;
    left: 10%;
    margin-bottom: 10%;
    
}

.notices{
    position: relative;
    z-index: 20;
    margin-top:8%;
    margin-bottom: 5%;
   
}
.titulo{
    position: absolute;
    z-index: 40;
    top: 110%;
    left: 42%;
    font-size: 56px;
}

.tituloPrincipal{   
    background-color: #00bcd4;
    color: #b2ebf2;
    padding: 100px 0 20px 0;
    font-family: 'Lilita One', cursive;
    
}

.contenidoPrincipal{
    font-size: 24px;
    margin-top: 50px;
    color: #212121;
}

.lnk{
    color: #FFF;
}

.footer{
    background-color: #455a64;
    color:#cfd8dc;
    position: relative;
    clear:left;   
    padding:  20px 0px 20px 10px;
 }